<div *ngIf = '(artist)'>
    <h3>{{artist.name}} Details!</h3>
    </div>
<div>
<table class = 'table' *ngIf ='(artist)'>
<thead>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Genre</th>
    <th>Rating</th>
    <th>Logo</th>
</tr>
</thead>
<tbody>
    <td>{{artist.id}}</td>
    <td>{{artist.name}}</td>
    <td>{{artist.genre}}</td>
    <td>{{artist.starRating}} / 5</td>
    <td>
        <img [src] = 'artist.imgUrl'
        [style.width.px] = 'imgWidth'>
         </td>
</tbody>
</table>
</div>
<div>
    <button (click) = 'onBackClick()' >Back</button>
</div>